<header data-section-id="{{ section.id }}" data-section-type="header-section">
  
  
    
  <div class=" fix-rhf">
      {% include 'site-nav' %}
  </div>
    

  <div class="fix-bar fix-bar-top">
  </div> 
  <div class="fix-bar">
  </div> 

  {% if section.settings.show_announcement %}
    <div class="announcement-bar">
      {% if section.settings.announcement_link %}
      <a href="{{ section.settings.announcement_link }}">
      {% endif %}
       <span class="announcement-bar-text">{{ section.settings.announcement_text | escape }}</span>
      {% if section.settings.announcement_link %} 
      </a>
      {% endif %}
    </div>
  {% endif %}

  {% if section.settings.show_breadcrumb %} 
     {% include 'breadcrumb' %}
  {% endif %}
</header>  

{% schema %}
  {
    "name": "Header",
    "class": "header-section",
    "settings": [
      {
        "type": "link_list",
        "id": "menu",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type": "header",
        "content": "Announcement bar"
      },
      {
        "type": "checkbox",
        "id": "show_announcement",
        "label": "Show announcement",
        "default": false
      },
	  {
        "type": "checkbox",
        "id": "home_page_only",
        "label": "Home page only",
        "default": true
      },
      {
        "type": "text",
        "id": "announcement_text",
        "label": "Announcement text",
        "default": "Announce something here"
      },
      {
        "type": "url",
        "id": "announcement_link",
        "label": "Announcement link",
        "info": "Optional"
      },
	  {
        "type": "checkbox",
        "id": "show_buy_button",
        "label": "Show buy button",
        "default": false
      },
      {
        "type": "url",
        "id": "buy_button_link",
        "label": "Buy button link",
        "info": "Optional"
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumb",
        "label": "Show breadcrumb",
        "default": false
      }
	
    ]
  }
{% endschema %}
